body {
    background-color: black;
    color: white;
    margin: 0;
}

#screen {
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    height: 100vh;
    margin: auto;
}